footer 
   .footer 
      .footer-item
         a(href="#")
         img(src="images/logo.svg" alt="logo") 
         
      .footer-item
         ul.footer-list    
            li.footer-item
               a(href="#").footer-item__link Voice over and Subtitle
            li.footer-item
               a(href="#").footer-item__link Media Center
            li.footer-item
               a(href="#").footer-item__link Privacy
            li.footer-item
               a(href="#").footer-item__link Contact us

      .footer-item
         ul.footer-list    
            li.footer-item
               a(href="#").footer-item__link Voice Description
            li.footer-item
               a(href="#").footer-item__link Investor Relations
            li.footer-item
               a(href="#").footer-item__link Legal Provisions

      .footer-item
         ul.footer-list    
            li.footer-item
               a(href="#").footer-item__link Help Center Job
            li.footer-item
               a(href="#").footer-item__link Job Opportunities
            li.footer-item
               a(href="#").footer-item__link Cookies Preferences

      .footer-item
         ul.footer-list    
            li.footer-item
               a(href="#").footer-item__link Gift Cards
            li.footer-item
               a(href="#").footer-item__link Terms of Use
            li.footer-item
               a(href="#").footer-item__link Corporate Informations